toml
regex
dpath
psycopg2-binary
https://github.com/deeso/manipin-json/tarball/master#egg=manipin-json
https://github.com/deeso/task-blox/tarball/master#egg=task-blox
https://github.com/deeso/json-file-consumer/tarball/master#egg=json-file-consumer
