[Unit]
Description=JSON File consumer for Suricata
After=suricata.service
Before=

[Service]
Type=forking
User=root
WorkingDirectory=/opt/suricata-json-consumer/
ExecStart=/usr/bin/python3 suricata-json-consumer.py -config suricata-json-consumer.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target