[Unit]
Description=JSON File consumer for Suricata
After=suricata.service
Before=

[Service]
Type=forking
User=root
WorkingDirectory=/opt/suricata-json-consumer
ExecStart=sh suricata-json-consumer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target